.user {

	&__title {
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.1px;
        color: #252b42;
        margin-bottom: 0;
	}

	&__span {
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
	}


	&__item i{
        color: #f3cd03;
	}

	&__desc {
        width: 100% !important;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
	}
}
